
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Archive</title>
    <link rel="stylesheet" href="{% static 'css/archivestyle.css' %}" type="text/css"/>
    <script src="https://kit.fontawesome.com/868cad16b6.js" crossorigin="anonymous"></script>
</head>
<body>
<div  class="container">
    <h1>Student Database</h1>
        <div style="overflow-x:auto;"class= wrapper>
        <table class="content-table">
            <thead>
                <div style="position:fixed;" class ="header">
                        <tr>
                        <th>Application No.</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Board of Edu. in 10th</th>
                        <th>10th Math Score</th>
                         <th> 10th Science Score</th>
                         <th>10th English Score</th>
                         <th>Overall 10th Score </th>
                         <th>Board of Edu. in 12th</th>
                         <th>12th Math score</th>
                         <th>12th Physics Score</th>
                         <th>12th Chemistry Score</th>
                         <th>12th Opt. Score</th>
                         <th>Overall 12th Score </th>
                         <th>CET/Comedk Rank</th>
                         <th>Extra-curriculam activites</th>
                         <th>Level of Participation</th>
                         <th>Father's Qualification </th>
                         <th>Mothers's Qualification </th>
                         <th>Annual Income</th>
                         <th>Move out for UG</th>
                         <th>Distance</th>
                         <th>Rate your English</th>
                          <th>Rate your Logical Reasoning</th>
                          <th>Describe Yourself</th>
                          <th>Active Procastinator</th>
                          <th>Research</th>
                        <th>Delete</th>
                        </tr>
                </div>
            </thead>

            <tbody>
                
                    

  </tbody>
        </table>
        </div>
</div>

</body>
</html>