body{
background-image: url('/static/images/bgform2.jpg');
}

.wrap{
	background-color: white;
	margin-top: 50px;
	width: 950px;
	margin-left: 200px;
	margin-bottom: 30px;
	height: 1050px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 30px;
	

}

.top{

	width: 950px;
	background-color: #204051;
	color: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 20px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.app{


padding-left: 35px;
margin-right: 570px;
line-height: 20px;
padding-top: 40px;	

}

#chart{

margin-left: 400px;

}

.score{
	width: 550px;
	margin-left: 390px;
	margin-top: -700px;
	padding-top: 110px;

}

.pred{
	margin-left: 550px;
	padding-top: 40px;
}

.predval{
padding-top: 20px;
padding-left: 20px;
margin-bottom: -20px;
}

#chart_div{
padding-left: 40px;
margin-top: -220px;
margin-bottom: 20px;

}
